/* -- Buttons -- */
.btn_custom_size {
  font-size: 2vw; }

.btn:hover {
  transform: scale(1.05); }

/* -- Social links -- */
.bi-instagram:hover {
  color: #ffa600; }

.bi-facebook:hover {
  color: #008cff; }

.bi-whatsapp:hover {
  color: #4be41d; }

.bi {
  transition-duration: .2s;
  transition-timing-function: ease; }

/* -- Text links -- */
.text_link, .paso_cierre {
  color: #dfdfdf; }
  .text_link:hover, .paso_cierre:hover {
    color: white; }

/* -- Clases texto -- */
.custom_h1_title {
  font-size: calc(2rem + 2.5vw); }

.custom_h1_subtitle {
  font-size: calc(1rem + .5vw); }

.custom_h2_title {
  font-size: calc(1.5rem + 1.5vw); }

.lead_custom {
  font-size: 1.1rem; }

p span {
  font-weight: 600;
  text-decoration: underline; }

.custom_h1_carousel_index {
  font-size: 8vw; }

.custom_p_carousel_index {
  font-size: 3vw; }

.custom_h1_carousel_index2 {
  font-size: 4.5vw; }

.custom_p_carousel_index2 {
  font-size: 2.2vw; }

.h2-bold {
  font-weight: 600 !important; }

h3 {
  font-size: 1.5rem; }

.paso_cierre {
  font-size: 1.6rem;
  font-weight: 600; }

@media screen and (min-width: 992px) {
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .bloque_titulo {
    background-color: #171717c0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; } }

/* -- Animations -- */
a {
  transition-duration: .2s;
  transition-timing-function: ease; }

.animate {
  animation-name: agrandar;
  animation-duration: 1.5s;
  animation-timing-function: ease; }

@keyframes agrandar {
  0% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*-- Carousels --*/
.carousel-caption-custom-index {
  bottom: auto;
  top: 18%;
  left: 18%;
  right: auto; }

.carousel-caption-custom-index2 {
  bottom: auto;
  top: 16%;
  left: auto;
  right: 17%;
  width: 32%; }

/* -- Clases fondo --*/
.bg-oscuro-custom {
  background-color: #171717; }

.bg-semioscuro-custom {
  background-color: #353535; }

/* tabla */
.tabla_mat td,
.tabla_mat th,
.tabla_mat {
  text-align: center;
  padding: 10px;
  border: solid 2px chocolate;
  border-collapse: collapse; }

.tabla_mat {
  width: 100%; }

/* -- Info Grid -- */
.info_section_1 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 6fr 4fr;
  align-items: center;
  grid-template-areas: "caratula_img caratula_img" "explicacion explicacion" "descripcion_videito descripcion_videito" "videito videito"; }

.img_printing_info_container {
  grid-area: caratula_img; }

.bloque_que_es_imp3d {
  grid-area: explicacion; }

.titulito_videito {
  grid-area: descripcion_videito; }

.videitos {
  grid-area: videito;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/* -- media queries -- */
@media screen and (min-width: 1200px) {
  .info_section_1 {
    grid-template-areas: "caratula_img caratula_img" "explicacion descripcion_videito" "explicacion videito"; }
  .bloque_que_es_imp3d {
    height: 92%;
    padding: 80px !important;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em; }
  .titulito_videito, .videitos {
    padding-right: 30px; }
  .videitos {
    margin-bottom: 25px; } }
