/* -- Animations -- */
a{
    transition-duration: .2s;
    transition-timing-function: ease;
}

.animate_agrandar {
    animation-name: agrandar;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.animate_slidein_ltr {
    animation-name: slide_in_ltr;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.animate_slidein_rtl {
    animation-name: slide_in_rtl;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: .5s;
    transform: translateX(80vw);
    animation-fill-mode: forwards;
}

@keyframes agrandar {
    0% {
        opacity: 0;
        transform: scale(.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide_in_ltr {
    0% {
        opacity: 0;
        transform: translateX(-80vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide_in_rtl {
    0% {
        opacity: 0;
        transform: translateX(80vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}