/* -- Clases texto -- */

.custom_h1_title {
    font-size: calc(2rem + 2.5vw);
}

.custom_h1_subtitle {
    font-size: calc(1rem + .5vw);
}

.custom_h2_title {
    font-size: calc(1.5rem + 1.5vw);
}

.lead_custom {
    font-size: 1.1rem;
}

p span {
    font-weight: 600;
    text-decoration: underline;
}

.custom_h1_carousel_index {
    font-size: 8vw;
}

.custom_p_carousel_index {
    font-size: 3vw;
}

.custom_h1_carousel_index2 {
    font-size: 4.5vw;
}

.custom_p_carousel_index2 {
    font-size: 2.2vw;
}

.h2-bold {
    font-weight: 600 !important;
}

h3{
    font-size: 1.5rem;
}

.paso_cierre {
    @extend .text_link;
    font-size: 1.6rem;
    font-weight: 600;
}
