@mixin position ($bottom, $top, $left, $right){
    bottom: $bottom;
    top: $top;
    left: $left;
    right: $right;
}

@mixin table ($text-align, $padding, $border){
    text-align: $text-align;
    padding: $padding;
    border: $border;
    border-collapse: collapse;
}

@mixin text_link ($color_base, $color_end){
    color: $color_base;

    &:hover{
        color: $color_end;
    }
}
